<ion-header>
  <ion-toolbar>
    <ion-segment mode="md" color="danger" value="active" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="active">
        <ion-label>Activo</ion-label>
      </ion-segment-button>
      <ion-segment-button value="history">
        <ion-label>Historico</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="active">
    <app-order-item *ngFor="let item of [1]"></app-order-item>
  </div>
  <div *ngIf="!active">
    <div *ngFor="let item of [1,1,1,1]">
      <h3 class="ion-padding-horizontal titulo">Sab. 21/04/2020</h3>
      <app-order-item></app-order-item>
    </div>
  </div>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
